@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt';
    background-image: url(Bgcovid1.png);
    background-size: 55%;

}

.box {
    width: 375px;
    height: 325px;
    background: url(coronavirus.png);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -162.5px;
    margin-left: -187.5px;
    border-radius: 20px;


}


.line {
    width: 150px;
    height: 0px;
    border: 1px solid #000000;
    margin-top: 10px;
}

.topic {
    margin-top: 20px;
    font-size: 15px;
}

.minibox {
    margin-top: 10px;
    width: 80%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;


}
.box center input{
    width: 60px;
    height: 25px;
    color: rgba(0, 0, 0,.75);
    outline: none;
    border: none;
    font-family: 'Prompt';
    font-weight: bold;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.5);
}
.box center button{
    height: 25px;
    outline: none;
    border: none;
    margin-left: -6px;
    text-align: center;
    font-family: 'Prompt';
    width: 30px;
}
.box center button:hover{
    background-color: #4f80c0;
    color: white;
    transition: .3s;
    cursor: pointer;
}
.box center button:active{
    background-color: #000000;
    color: white;
}
.INFO {
    padding-top: 5px;
    padding-left: 10px;
}

.info {
    padding-top: 10px;
    font-size: 17px;
    color: azure;
}


.smallbox {
    width: 25%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    display: inline-block;
    border-radius: 10px;
    color: azure;
    font-size: 12px;
}

.aksorn {
    padding-top: 5px;
}

.num {
    padding-top: 10px;
}

.mask {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -175px;
    z-index: 1;
}

.downarr {
    padding-top: 10px;
}

.numifect i {
    color: #ba0900;
}

@media screen and (min-width:1600px) {
    .box center input{
        height: 35px;
        width: 75px;
        font-size: 18px;
        font-family: 'Prompt';
        color: rgba(0, 0, 0,.75);
        font-weight: bold;
    }
    .box center button{
        height: 35px;
        width: 37px;
        font-size: 18px;
        margin-left: -7.7px;
        font-family: 'Prompt';
    }
    .box {
        width: 485px;
        height: 435px;
        margin-top: -217.5px;
        margin-left: -242.5px;
    }
    .INFO{
        padding-top: 10px;
    }
    .topic{
        font-size: 21px;
    }

    .line {
        width: 200px;
    }
    .info{
        font-size: 23px;
    }
    .smallbox{
        font-size: 16px;
        margin-top: 16px;
        height: 32%;
        width: 26%;
    }
    .aksorn{
        padding-top: 16px;
    }
    .minibox{
        margin-top: 20px;
        width: 85%;
    }
    .trans button{
        width: 50px;
        height: 45px;
        font-size: 17px;
    }
    .mask{
        margin-left: -250px;
        margin-top: -230px;
    }
    #date{
        font-size: 21.5px;
    }
   
}

@media screen and (max-width:730px) {
    .swal-height{
        height: auto;
    }
    .box {
        width: 275px;
        height: 275px;
        margin-top: -137.5px;
        margin-left: -137.5px;
    }
   

    .info {
        font-size: 12px;
    }

    .topic {
        font-size: 13px;
    }

    #date {
        font-size: 13.5px;
    }

    .smallbox {
        font-size: 9px;
    }

    body {
        background-size: 75%;
    }

    .mask {
        width: 45px;
        height: 45px;
        margin-left: -155px;
        margin-top: -150px;
    }
}

.thai {
    background: none;
    width: 35px;
    height: 30px;
    outline: none;
    transition: ease-out 0.3s;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    box-shadow: inset 0 0 0 0 #50c878;

}

.eng {
    background: #FCEE9E;
    width: 35px;
    height: 30px;
    outline: none;
    border: 1px solid #FCEE9E;
    transition: ease-out 0.3s;
    font-size: 12px;
    box-shadow: inset 0 0 0 0 #50c878;

}


.topic {
    display: inline-block;

}

.trans {
    padding-top: 20px;
    padding-right: 20px;
}

.eng:hover {
    box-shadow: inset 100px 0 0 0 #50c878;
    color: white;
    cursor: pointer;
    border: none;
}



.thais {
    width: 35px;
    height: 30px;
    background: #FCEE9E;
    border: 1px solid #FCEE9E;
    color: black;
    outline: none;
    transition: ease-out 0.3s;
    font-size: 12px;
    box-shadow: inset 0 0 0 0 #50c878;
}

.thais:hover {
    box-shadow: inset 100px 0 0 0 #50c878;
    color: white;
    cursor: pointer;
    border: none;
}



.engs {
    width: 35px;
    height: 30px;
    background: #FCEE9E;
    border: 1px solid #FCEE9E;
    color: black;
    outline: none;
    transition: ease-out 0.3s;
    font-size: 12px;
    box-shadow: inset 0 0 0 0 #50c878;
}

.engs:hover {
    box-shadow: inset 100px 0 0 0 #50c878;
    color: white;
    cursor: pointer;
    border: none;

}
.swal-height{
    height: 80vh;
}